/*BODY*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}

/* Navbar */

.navbar {
  position: sticky;
  top: 10px;
  z-index: 9999; /* Esto mantiene el espacio arriba */
  margin: 0 20px; /* Espacio lateral, OK aquí */
  padding: 5px 10px;
  height: 60px;
  background-color: rgba(68, 68, 68, 0.8);
  backdrop-filter: blur(4px); /* opcional para estilo moderno */
  border-radius: 10px;
  display: flex;
  align-items: center;

}

.menu-icon { 
  background-color: transparent;
  border: none;
  transition: transform 0.2s ease; 
}

.menu-icon:hover {
  color: white;
  text-shadow: 0 0 7px white, 0 0 7px white;
  transform: scale(1.1); /* Aumenta el tamaño del icono al pasar el ratón */
}


.navbar-behind { 
  display: flex;
  align-items: center;
  gap: 50px; /* Espacio entre los elementos */
  position: relative;
}

/*Barra de búsqueda*/

.menu-icon {
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  margin-left: 20px;
  margin-top: -5px; /* Ajusta la posición vertical del icono */
}


.search-container {
  position: relative;
}


#search{
  width: 100%;
  height: 30px;
  padding-left: 15px;
  padding-right: 35px; 
  border: 1px solid white;
  border-radius: 5px;
  background-color :rgba(68, 68, 68, 0.3);
  color: white;
  font-size: 14px; 
  outline: none; 
  box-shadow: none;
}

.search-icon{
  position: absolute;
  right: 10px;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
  pointer-events: none; /* Esto asegura que el icono no interfiera con la entrada de texto */
}

#search::placeholder {
  color: white; 
  font-size: 1.1em; 
  font-family: 'Montserrat', sans-serif;  
  opacity: 1;     
  padding-right: "35px" 
}


#search:focus{
  background-color: rgba(68, 68, 68, 0.6);
  border: 1px solid white;  
}

#search:hover {
  background-color: #a5a5a5a5;
}

/* Gamepad button y logo name*/

.gamepad-button {
  background: none;
  cursor: pointer;
  border: none;
  font-size: 40px;
  position: absolute;
  left: 898px;
  top: 28px;
  transform: translateY(-50%);
  color: white;
}

.logo-name {
  position: absolute;
  left: 887px;
  top: 78%;
  transform: translateY(-50%);
  color: white;
  font-size: 14px;
  font-family:  sans-serif;
  font-family: 'Roboto', sans-serif;
}


/* Botones de inicio de sesión y registro */

.login-button{
  display: flex;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  margin-left: 10px;/* Espacio entre el texto y el botón */
  transform: translateX(61vw); 
  transition: transform 0.2s ease; 
}

.login-button:hover {
  color: white;
  text-shadow: 0 0 7px white, 0 0 10px white;
  transform: translateX(61vw) scale(1.1);
}

.register-button{
  display: flex;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  margin-left: 10px;/* Espacio entre el texto y el botón */
  transform: translateX(63vw);  
  transition: transform 0.2s ease;
}

.register-button:hover {
  color: white;
  text-shadow: 0 0 7px white, 0 0 10px white;
  transform: translateX(63vw) scale(1.1);
}

/* Botón del carrito */

.cart-button {                               
  display: flex;                                 
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
  margin-left: 10px;/* Espacio entre el texto y el botón */
  transform: translateX(64.5vw);  
  transition: transform 0.2s ease;
}

.cart-button:hover {
  transform: translateX(64.5vw) scale(1.1);
  /* No se cambia el color, se mantiene blanco */
}

/* Gamebag background */

.gamebagfondo {
  margin-top: -60px;
  width: 100%;
  height: 70vh;
  background-image: url("/src/images/gamebag.gif");
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}


/*View Mode*/







/* Filter styles */

.filter-container {
  margin-bottom: 25px;
  margin-top: 10px; 
}

.filter-dropdown {
  position: relative;
  display: inline-block;
  left: 89vw;
}

.filter-button {
  background-color: white;
  color:black;
  border: 2px solid #44b2d0;
  border-radius: 5px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.2s ease, color 0.2s ease;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 150px;  
}

.arrow {
  margin-left: 5px;
  font-size: 1.2em;
}

.filter-menu {
  position: absolute;
  margin-top: 0px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  min-width: 100%;
  text-align: center; /* Asegura que el menú esté por encima de otros elementos */
}

.filter-menu li {
  padding: 10px;
  cursor: pointer;
  color: black;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
}

.filter-menu li:hover {
  background-color:#eeeeee;
  color: black;
  border: 2px solid #44b2d0;
  border-radius: 5px;
}

/* Card styles */
.card-custom {
  font-family: 'Roboto', Arial, sans-serif;
  width: 16rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin-top: 0;
  padding: 0;
}

.card-custom:hover {  
  border: 4px solid #44b2d0;
}


.card-img-container {
  position: relative; /* Necesario para posicionar el icono internamente */
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}


/*favorite-icon*/
.heart-icon{
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 1.6rem;
  color: #666666;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.heart-icon:hover {
  transform: scale(1.1);
  color: #44b2d0; /* Cambia el color al pasar el ratón */
}

.heart-icon.active {
  color: #44b2d0; /* El cart se vuelve negro al hacer click */
}

/*Cart add icon*/
.cart-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.5rem;
  color: #666666;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.cart-icon:hover {
  transform: scale(1.1);
  color: #44b2d0;
  
}

.cart-icon.active {
  color: #444; /* El cart se vuelve negro al hacer click */
  font-size: 1.8rem;
  
}

.plus-inside {
  position: absolute;
  top: 6px;
  left: 9px;
  width: 14px;
  height: 14px;
  background-color: white;
  color: #44b2d0;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

/*Card Image*/

.card-img {

  width: 100%;
  height: auto;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left:  15px;
  padding-right: 15px;
}


.card-body {
  padding: 15px;
  border-top: 3px solid #44b2d0;
}

.card-title {
  min-height: 40px;
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: bold;
}

.card-text {
  min-height: 60px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  margin-bottom: 0px;
  padding:5px;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding-left: 80px;
  padding-bottom: 0;
  padding-top: 0;
}

.card-grid > .card-custom:nth-child(-n+5) {
  margin-top: 5px; /* solo estas tendrán espacio arriba */
}

.card-gridmain {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding-left: 80px;
  padding-bottom: 0;
  padding-top: 50px;
}

